<div class="container">
	<h2>{{ company.name }}</h2>
	<h4>Shareholders</h4>
	<hr>

	<div class="btn-toolbar">
		<button [routerLink]="['/company/', company.id , 'share', 'company']" class="btn btn-primary pull-right"><i class="fa fa-star-o"></i> New company shareholder</button>
		<button [routerLink]="['/company/', company.id , 'share', 'person']" class="btn btn-primary pull-right"><i class="fa fa-star-o"></i> New person shareholder</button>
	</div>

	<table class="table table-hover">
		<thead>
		<tr>
			<th>Type</th>
			<th>Name</th>
			<th>Holding</th>
			<th>Identification</th>
			<th>Land</th>
			<th></th>
		</tr>
		</thead>
		<tbody>
		<tr *ngFor="let share of company.shares">
			<td *ngIf="share.shareholder.type == 1">Company</td>
			<td *ngIf="share.shareholder.type == 2">Person</td>
			<td *ngIf="share.shareholder.type == 1"><a [routerLink]="['/company', share.shareholder.id, 'view']">{{ share.shareholder.name }}</a></td>
			<td *ngIf="share.shareholder.type == 2">{{ share.shareholder.name }}</td>
			<td>{{ share.holding / 100 | percent:'.2' }}</td>
			<td>{{ share.shareholder.identification }}</td>
			<td>{{ share.shareholder.land }}</td>
			<td class="text-right">
				<button (click)="deleteShare(share)" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete</button>
			</td>
		</tr>
		</tbody>
	</table>

</div>
