<div class="container">
	<h2 *ngIf="!sharemode">Companies</h2>
	<h2 *ngIf="sharemode">Add new shareholder</h2>
	<hr>

	<button [routerLink]="'/company/new'" class="btn btn-primary btn-sm pull-right"><i class="fa fa-star-o"></i> New company</button>

	<table class="table table-hover">
		<thead>
			<tr>
				<th>Name</th>
				<th>Identification</th>
				<th>Land</th>
				<th>Shareholders</th>
				<th *ngIf="sharemode">Holding %</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let company of companies">
				<td>{{ company.name }}</td>
				<td>{{ company.identification }}</td>
				<td>{{ company.land }}</td>
				<td>{{ company.shares?.length || 0 }}</td>
				<td class="text-right" *ngIf="!sharemode">
					<button [routerLink]="['/company', company.id, 'edit']" class="btn btn-default btn-xs"><i class="fa fa-pencil"></i> Edit</button>
					<button [routerLink]="['/company', company.id, 'view']" class="btn btn-default btn-xs"><i class="fa fa-search"></i> View</button>
				</td>
				<td *ngIf="sharemode"><input [(ngModel)]="company.holding" class="form-control input-sm" min="1" max="100" type="number" [maxlength]="3"></td>
				<td class="text-right" *ngIf="sharemode">
					<button (click)="saveShare(company)" class="btn btn-success btn-sm"><i class="fa fa-save"></i> Save share</button>
				</td>
			</tr>
		</tbody>
	</table>

</div>
