<div class="container">
	<h2 *ngIf="!edit">Add new company</h2>
	<h2 *ngIf="edit">Edit company</h2>
	<hr>

	<form novalidate #form="ngForm">
		<div class="form-group row">
			<label for="name" class="col-md-2 col-form-label">Name</label>
			<div class="col-md-4">
				<input type="text" [(ngModel)]="company.name" name="name" required class="form-control input-sm" id="name" #name="ngModel">
			</div>
			<small class="has-error" [hidden]="name.valid || (name.pristine && !form.submitted)">
				Name is required
			</small>
		</div>
		<div class="form-group row">
			<label for="id" class="col-md-2 col-form-label">Identification</label>
			<div class="col-md-4">
				<input type="text" [(ngModel)]="company.identification" name="identification" required class="form-control input-sm" id="id" #identification="ngModel">
			</div>
			<small class="has-error" [hidden]="identification.valid || (identification.pristine && !form.submitted)">
				Identification is required
			</small>
		</div>
		<div class="form-group row">
			<label for="land" class="col-md-2 col-form-label">Land</label>
			<div class="col-md-4">
				<input validateLand type="text" [(ngModel)]="company.land" name="land" class="form-control input-sm" required id="land" placeholder="ISO-2 code e.g. FI" #land="ngModel">
			</div>
			<small class="has-error" [hidden]="land.valid || (land.pristine && !form.submitted)">
				Land is required and must contain only two letters
			</small>
		</div>
		<div class="btn-toolbar col-md-6">
			<button type="submit" class="btn btn-sm btn-success pull-right"  (click)="saveCompany(form)"><i class="fa fa-save"></i> Save</button>
			<button *ngIf="edit" type="submit" class="btn btn-sm btn-danger pull-right" (click)="removeCompany()"><i class="fa fa-trash-o"></i> Delete</button>
		</div>
	</form>
</div>
