<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">Company owners</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li routerLinkActive="active"><a [routerLink]="'/home'">Home</a></li>
                    <li routerLinkActive="active"><a [routerLink]="'/companies'">Companies</a></li>
                    <li routerLinkActive="active"><a [routerLink]="'/persons'">Persons</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<main>
    <router-outlet></router-outlet>
</main>