<div class="container">
	<h2 *ngIf="!edit">Add new person</h2>
	<h2 *ngIf="edit">Edit person</h2>
	<hr>

	<form novalidate #form="ngForm">
		<div class="form-group row">
			<label for="firstname" class="col-md-2 col-form-label">Firstname</label>
			<div class="col-md-4">
				<input type="text" [(ngModel)]="person.firstname" name="firstname" required class="form-control input-sm" id="firstname" #firstname="ngModel">
			</div>
			<small class="has-error" [hidden]="firstname.valid || (firstname.pristine && !form.submitted)">
				Firstname is required
			</small>
		</div>
		<div class="form-group row">
			<label for="name" class="col-md-2 col-form-label">Lastname</label>
			<div class="col-md-4">
				<input type="text" [(ngModel)]="person.name" name="name" required class="form-control input-sm" id="name" #name="ngModel">
			</div>
			<small class="has-error" [hidden]="name.valid || (name.pristine && !form.submitted)">
				Name is required
			</small>
		</div>
		<div class="form-group row">
			<label for="id" class="col-md-2 col-form-label">Identification</label>
			<div class="col-md-4">
				<input type="text" [(ngModel)]="person.identification" name="identification" required class="form-control input-sm" id="id" #identification="ngModel">
			</div>
			<small class="has-error" [hidden]="identification.valid || (identification.pristine && !form.submitted)">
				Identification is required
			</small>
		</div>
		<div class="form-group row">
			<label for="land" class="col-md-2 col-form-label">Land</label>
			<div class="col-md-4">
				<input validateLand type="text" [(ngModel)]="person.land" name="land" class="form-control input-sm" required id="land" placeholder="ISO-2 code e.g. FI" #land="ngModel">
			</div>
			<small class="has-error" [hidden]="land.valid || (land.pristine && !form.submitted)">
				Land is required and must contain only two letters
			</small>
		</div>
		<div class="form-group row">
			<label for="birthdate" class="col-md-2 col-form-label">Birthdate</label>
			<div class="col-md-4">
				<input validateDate [(ngModel)]="birthdate" name="birthdate" class="form-control input-sm" required id="birthdate" placeholder="dd.mm.yyyy" #bdate="ngModel">
			</div>
			<small class="has-error" [hidden]="bdate.valid || (bdate.pristine && !form.submitted)">
				Birthdate is required and must be a valid date
			</small>
		</div>
		<div class="form-group row">
			<label for="taxcode" class="col-md-2 col-form-label">Tax code</label>
			<div class="col-md-4">
				<input type="text" [(ngModel)]="person.taxcode" name="taxcode" class="form-control input-sm" required id="taxcode" #taxcode="ngModel">
			</div>
			<small class="has-error" [hidden]="taxcode.valid || (taxcode.pristine && !form.submitted)">
				Taxcode is required
			</small>
		</div>
		<div class="btn-toolbar col-md-6">
			<button type="submit" class="btn btn-sm btn-success pull-right" (click)="savePerson(form)"><i class="fa fa-save"></i> Save</button>
			<button *ngIf="edit" type="submit" class="btn btn-sm btn-danger pull-right" (click)="removePerson()"><i class="fa fa-trash-o"></i> Delete</button>
		</div>
	</form>
</div>
