<div class="container">
	<h2 *ngIf="!sharemode">Persons</h2>
	<h2 *ngIf="sharemode">Add new shareholder</h2>
	<hr>

	<button [routerLink]="'/person/new'" class="btn btn-primary btn-sm pull-right"><i class="fa fa-star-o"></i> New person</button>

	<table class="table table-hover">
		<thead>
		<tr>
			<th>Name</th>
			<th>Identification</th>
			<th>Land</th>
			<th *ngIf="sharemode">Holding %</th>
			<th></th>
		</tr>
		</thead>
		<tbody>
		<tr *ngFor="let person of persons">
			<td>{{ person.fullname }}</td>
			<td>{{ person.identification }}</td>
			<td>{{ person.land }}</td>
			<td *ngIf="sharemode"><input [(ngModel)]="person.holding" class="form-control input-sm" min="1" max="100" type="number" [maxlength]="3"></td>
			<td class="text-right">
				<button *ngIf="!sharemode" [routerLink]="['/person', person.id, 'edit']" class="btn btn-default btn-xs"><i class="fa fa-pencil"></i> Edit</button>
				<button *ngIf="sharemode" (click)="saveShare(person)" class="btn btn-success btn-sm"><i class="fa fa-save"></i> Save share</button>
			</td>
		</tr>
		</tbody>
	</table>

</div>
