<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title><%= htmlWebpackPlugin.options.title %></title>

  <meta name="description" content="<%= htmlWebpackPlugin.options.title %>">

  <% if (webpackConfig.htmlElements.headTags) { %>
  <%= webpackConfig.htmlElements.headTags %>
  <% } %>

  <base href="<%= htmlWebpackPlugin.options.metadata.baseUrl %>">
  <link href="assets/styles/bootstrap.css" rel="stylesheet">
  <link href="assets/styles/font-awesome.min.css" rel="stylesheet">
  <link href="assets/styles/styles.css" rel="stylesheet">
</head>

<body>

  <app>
    Loading...
  </app>

</body>
</html>
<script src="assets/js/jquery-3.1.1.min.js" type="text/javascript"></script>
<script src="assets/js/bootstrap.min.js" type="text/javascript"></script>
