<div class="container">
  <h2>Company owners and shares</h2>

  <hr>

  <div>
	  <h4>The app lets you add companies and their owners, which can be either natural or legal persons.</h4>
  </div>

</div>
